@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&family=IBM+Plex+Sans+KR:wght@400;500;700&family=Noto+Sans+KR:wght@400;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap");
/*
font-family: 'Asap Condensed', sans-serif;
font-family: 'IBM Plex Sans KR', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul, li {
  list-style: none;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

#wrap {
  background-color: #f9f9f9;
}

/*header*/
.headerOn {
  visibility: hidden;
  opacity: 0;
}

header {
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.7333333333);
  transition: all 0.3s;
}
header nav {
  flex: 0 1 1728px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  header nav {
    flex: 0 1 688px;
  }
}
header nav .gnb ul {
  display: flex;
  gap: 40px;
}
@media only screen and (max-width: 768px) {
  header nav .gnb ul {
    gap: 20px;
  }
}
header nav a {
  display: block;
  line-height: 26px;
}

/*container*/
@keyframes titleAni {
  from {
    transform: translateY(-60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.titleIn {
  animation: titleAni 1s ease-in-out;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
main .inner-container {
  flex: 0 1 1512px;
}
@media only screen and (max-width: 768px) {
  main .inner-container {
    flex: 0 1 648px;
  }
}
main .inner-container .sec1 .sec-con {
  min-height: 100vh;
  padding: 140px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  main .inner-container .sec1 .sec-con {
    padding: 100px 0;
  }
}
main .inner-container .sec1 .sec-con .sec1-title {
  animation: titleAni 1s ease-in-out;
}
main .inner-container .sec1 .sec-con .sec1-title h1 {
  font-size: 80px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  line-height: 100px;
  word-spacing: 10px;
}
main .inner-container .sec1 .sec-con .sec1-title span {
  font-size: 34px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  line-height: 50px;
  font-style: italic;
  padding: 5px 10px;
  background-color: #F6DF66;
}
main .inner-container .sec1 .sec-con .index-con {
  border-top: 1px solid #ccc;
}
main .inner-container .sec1 .sec-con .index-con ul {
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 768px) {
  main .inner-container .sec1 .sec-con .index-con ul {
    justify-content: flex-start;
  }
}
main .inner-container .sec1 .sec-con .index-con ul li {
  flex: 0 1 378px;
  height: 300px;
  position: relative;
}
@media only screen and (max-width: 768px) {
  main .inner-container .sec1 .sec-con .index-con ul li {
    flex: 0 1 216px;
    height: 286px;
  }
}
main .inner-container .sec1 .sec-con .index-con ul li a {
  display: block;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  padding: 40px 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
main .inner-container .sec1 .sec-con .index-con ul li a p.num {
  font-size: 80px;
  line-height: 100px;
}
@media only screen and (max-width: 768px) {
  main .inner-container .sec1 .sec-con .index-con ul li a p.num {
    font-size: 48px;
    line-height: 60px;
  }
}
main .inner-container .sec1 .sec-con .index-con ul li a .project-list {
  width: 100%;
  padding: 20px 0;
}
main .inner-container .sec1 .sec-con .index-con ul li a .project-list p.name {
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  word-break: keep-all;
}
@media only screen and (max-width: 768px) {
  main .inner-container .sec1 .sec-con .index-con ul li a .project-list p.name {
    font-size: 30px;
    line-height: 38px;
  }
}
main .inner-container .sec1 .sec-con .index-con ul li a .project-list p.summery {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}
@media only screen and (max-width: 768px) {
  main .inner-container .sec1 .sec-con .index-con ul li a .project-list p.summery {
    font-size: 16px;
    line-height: 30px;
  }
}
main .inner-container .sec1 .sec-con .index-con ul li::after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 8;
  transition: all 0.3s;
  background-color: #F6DF66;
}
main .inner-container .sec1 .sec-con .index-con ul li:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 8;
  background-color: #F6DF66;
}
main .inner-container .project-con .sec-con {
  padding: 100px 0 0 0;
}
@media only screen and (max-width: 768px) {
  main .inner-container .project-con .sec-con {
    padding: 60px 0 0 0;
  }
}
main .inner-container .project-con .sec-con .title {
  display: flex;
  border-bottom: 1px solid #ccc;
}
@media only screen and (max-width: 768px) {
  main .inner-container .project-con .sec-con .title {
    display: block;
  }
}
main .inner-container .project-con .sec-con .title .left {
  flex: 0 1 504px;
}
main .inner-container .project-con .sec-con .title .left h2 {
  font-size: 60px;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
}
main .inner-container .project-con .sec-con .title .left p {
  font-size: 24px;
  font-weight: 300;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 40px;
}
main .inner-container .project-con .sec-con .title .right {
  padding: 20px 40px;
  border-left: 1px solid #ccc;
}
@media only screen and (max-width: 768px) {
  main .inner-container .project-con .sec-con .title .right {
    padding: 20px 0;
    border-left: none;
  }
}
main .inner-container .project-con .sec-con .title .right p.project-info span {
  background-color: #F6DF66;
}
main .inner-container .project-con .sec-con .title .right p.contribute {
  padding: 40px 0 20px;
}
@media only screen and (max-width: 768px) {
  main .inner-container .project-con .sec-con .title .right p.contribute {
    padding: 20px 0;
  }
}
main .inner-container .project-con .sec-con .design-con {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  padding: 40px 0;
}
main .inner-container .project-con .sec-con .design-con h3 {
  font-size: 34px;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 40px;
}
@media only screen and (max-width: 768px) {
  main .inner-container .project-con .sec-con .design-con h3 {
    margin-bottom: 20px;
  }
}
main .inner-container .project-con .sec-con .design-con .smaller {
  flex: 0 1 464px;
}
@media only screen and (max-width: 768px) {
  main .inner-container .project-con .sec-con .design-con .smaller {
    flex: 0 1 648px;
  }
}
main .inner-container .project-con .sec-con .design-con .brand-intro .BI-con .emblem img {
  width: 100%;
  height: auto;
  display: block;
}
main .inner-container .project-con .sec-con .design-con .brand-intro .BI-con .concept p.concept-txt {
  word-break: keep-all;
}
main .inner-container .project-con .sec-con .design-con .brand-intro .BI-con .concept p.keyword {
  font-size: 14px;
  word-break: keep-all;
  color: #3f3f3f;
}
main .inner-container .project-con .sec-con .design-con .information-architect {
  flex: 0 1 988px;
}
main .inner-container .project-con .sec-con .design-con .information-architect .gnb > ul {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  text-align: center;
}
main .inner-container .project-con .sec-con .design-con .information-architect .gnb > ul > li {
  flex: 0 1 120px;
}
main .inner-container .project-con .sec-con .design-con .information-architect .gnb > ul > li p {
  font-weight: 700;
  line-height: 30px;
  background-color: #F6DF66;
}
main .inner-container .project-con .sec-con .design-con .information-architect .gnb > ul > li ul.sub {
  padding: 0 0 20px;
}
main .inner-container .project-con .sec-con .design-con .information-architect .gnb > ul > li ul.sub::before {
  content: "";
  display: block;
  width: 2px;
  height: 15px;
  background-color: #F6DF66;
  margin: 0 auto;
}
main .inner-container .project-con .sec-con .design-con .information-architect .gnb > ul > li ul.sub li {
  line-height: 30px;
  border: 2px solid #F6DF66;
  margin: 0 0 10px;
}
main .inner-container .project-con .sec-con .design-con .information-architect .goto ul {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}
main .inner-container .project-con .sec-con .design-con .information-architect .goto ul li {
  flex: 0 1 120px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  background-color: #F6DF66;
}
main .inner-container .project-con .sec-con .design-con .information-architect table.gnb {
  margin-bottom: 20px;
}
main .inner-container .project-con .sec-con .design-con .information-architect table {
  border: none;
}
main .inner-container .project-con .sec-con .design-con .information-architect table * {
  border: none;
}
main .inner-container .project-con .sec-con .design-con .information-architect table thead {
  border-bottom: 1px solid;
}
main .inner-container .project-con .sec-con .design-con .information-architect table thead tr th {
  text-align: center;
  line-height: 20px;
  padding: 5px 20px;
  font-size: 1rem;
}
main .inner-container .project-con .sec-con .design-con .information-architect table tbody tr td {
  font-size: 0.875rem;
  text-align: center;
  line-height: 20px;
  padding: 5px 20px;
}
@media only screen and (max-width: 768px) {
  main .inner-container .project-con .sec-con .design-con .typography {
    flex: 0 1 294px;
  }
}
main .inner-container .project-con .sec-con .design-con .typography .typo {
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 768px) {
  main .inner-container .project-con .sec-con .design-con .typography .typo {
    gap: 10px;
  }
}
main .inner-container .project-con .sec-con .design-con .typography .typo p.thum {
  flex: 0 0 50px;
  text-align: center;
  line-height: 50px;
}
main .inner-container .project-con .sec-con .design-con .typography .typo p.typo-info {
  font-size: 16px;
  line-height: 20px;
}
@media only screen and (max-width: 768px) {
  main .inner-container .project-con .sec-con .design-con .color-paletter {
    flex: 0 1 294px;
  }
}
main .inner-container .project-con .sec-con .design-con .color-paletter ul {
  display: flex;
}
main .inner-container .project-con .sec-con .design-con .color-paletter ul li {
  flex: 1;
  line-height: 50px;
  text-align: center;
}
main .inner-container .project-con .sec-con .design-con .icons .icons-img {
  width: 100%;
  height: auto;
}
main .inner-container .project-con .sec-con .design-con .icons .icons-img img {
  width: 100%;
  height: auto;
  display: block;
}
main .inner-container .project-con .sec-con .preview-con {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  main .inner-container .project-con .sec-con .preview-con {
    display: block;
    height: auto;
    padding: 160px 0;
  }
}
main .inner-container .project-con .sec-con .preview-con .draft {
  flex: 0 1 882px;
}
@media only screen and (max-width: 768px) {
  main .inner-container .project-con .sec-con .preview-con .draft {
    width: 100%;
    max-width: 432px;
    margin: 0 auto;
  }
}
main .inner-container .project-con .sec-con .preview-con .draft img {
  width: 100%;
  height: auto;
  display: block;
}
main .inner-container .project-con .sec-con .preview-con .buttons {
  flex: 0 1 300px;
}
@media only screen and (max-width: 768px) {
  main .inner-container .project-con .sec-con .preview-con .buttons {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}
main .inner-container .project-con .sec-con .preview-con .buttons span {
  display: block;
  width: 100%;
  height: 34px;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 20px;
  cursor: pointer;
}
main .inner-container .project-con .sec-con .preview-con .buttons span::after {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  visibility: hidden;
  background-color: #F6DF66;
  transition: all 0.3s;
}
main .inner-container .project-con .sec-con .preview-con .buttons span:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  visibility: visible;
  background-color: #F6DF66;
}
main .inner-container .project-con .sec-con .preview-con .buttons span * {
  font-size: inherit;
  font-weight: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 0 5px;
}
main .inner-container .sec2 .sec-con .design-con .brand-intro .BI-con {
  display: flex;
  gap: 40px;
}
@media only screen and (max-width: 768px) {
  main .inner-container .sec2 .sec-con .design-con .brand-intro .BI-con {
    gap: 20px;
  }
}
main .inner-container .sec2 .sec-con .design-con .brand-intro .BI-con .emblem {
  flex: 0 1 126px;
}
@media only screen and (max-width: 768px) {
  main .inner-container .sec2 .sec-con .design-con .brand-intro .BI-con .emblem {
    flex: 0 1 108px;
  }
}
main .inner-container .sec2 .sec-con .design-con .brand-intro .BI-con .concept {
  flex: 0 1 298px;
}
@media only screen and (max-width: 768px) {
  main .inner-container .sec2 .sec-con .design-con .brand-intro .BI-con .concept {
    flex: 0 1 500px;
  }
}
main .inner-container .sec2 .sec-con .design-con .brand-intro .BI-con .concept p.concept-txt {
  margin: 0 0 20px 0;
}
@media only screen and (max-width: 768px) {
  main .inner-container .sec2 .sec-con .design-con .brand-intro .BI-con .concept p.concept-txt {
    margin: 0 0 10px 0;
  }
}
main .inner-container .sec2 .sec-con .design-con .color-paletter ul li.vc1 {
  background-color: #ff0000;
}
main .inner-container .sec2 .sec-con .design-con .color-paletter ul li.vc2 {
  background-color: #f4f4f4;
}
main .inner-container .sec2 .sec-con .design-con .color-paletter ul li.vc3 {
  background-color: #000000;
}
main .inner-container .sec2 .sec-con .design-con .color-paletter ul li:not(:nth-child(2)) {
  color: #ffffff;
}
main .inner-container .sec2 .sec-con .design-con .typography .typo p.thum {
  font-size: 30px;
  font-weight: 700;
  font-family: "IBM Plex Sans KR", sans-serif;
}
main .inner-container .sec2 .sec-con .design-con .icons .icons-img {
  max-width: 435px;
}
main .inner-container .sec3 .sec-con .design-con .brand-intro .BI-con .emblem {
  width: 100%;
  max-width: 160px;
}
main .inner-container .sec3 .sec-con .design-con .brand-intro .BI-con .concept p.concept-txt {
  margin: 20px 0;
}
@media only screen and (max-width: 768px) {
  main .inner-container .sec3 .sec-con .design-con .brand-intro .BI-con .concept p.concept-txt {
    margin: 10px 0;
  }
}
main .inner-container .sec3 .sec-con .design-con .color-paletter ul li.jc1 {
  background-color: #e6a29e;
}
main .inner-container .sec3 .sec-con .design-con .color-paletter ul li.jc2 {
  background-color: #ffffff;
}
main .inner-container .sec3 .sec-con .design-con .color-paletter ul li.jc3 {
  background-color: #3d3b3b;
}
main .inner-container .sec3 .sec-con .design-con .color-paletter ul li:nth-child(3) {
  color: #ffffff;
}
main .inner-container .sec3 .sec-con .design-con .typography .asap {
  margin: 0 0 20px 0;
}
@media only screen and (mx-width: 768px) {
  main .inner-container .sec3 .sec-con .design-con .typography .asap {
    margin: 0 0 10px 0;
  }
}
main .inner-container .sec3 .sec-con .design-con .typography .asap p.thum {
  font-size: 28px;
  font-weight: 700;
  font-family: "Asap Condensed", sans-serif;
}
main .inner-container .sec3 .sec-con .design-con .typography .noto p.thum {
  font-size: 16px;
  font-weight: 300;
  font-family: "Noto Sans KR", sans-serif;
}
main .inner-container .sec3 .sec-con .design-con .icons .icons-img {
  max-width: 474px;
}
main .inner-container .sec4 .sec-con h2 {
  font-size: 40px;
  font-family: "Roboto Condensed", sans-serif;
}
@media only screen and (max-width: 768px) {
  main .inner-container .sec4 .sec-con h2 {
    font-size: 60px;
  }
}
main .inner-container .sec4 .sec-con .top-con .skills {
  padding: 20px 0 60px;
}
@media only screen and (max-width: 768px) {
  main .inner-container .sec4 .sec-con .top-con .skills {
    padding: 20px 0;
  }
}
main .inner-container .sec4 .sec-con .top-con .skills ul {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
  main .inner-container .sec4 .sec-con .top-con .skills ul {
    gap: 20px;
  }
}
main .inner-container .sec4 .sec-con .top-con .skills ul li {
  flex: 0 0 100px;
}
main .inner-container .sec4 .sec-con .top-con .skills ul li .skill-icon {
  width: 100%;
  height: 100px;
  background: url("../img/skill-icon.png") no-repeat;
}
main .inner-container .sec4 .sec-con .top-con .skills ul li:nth-child(1) .skill-icon {
  background-position: 0 0px;
}
main .inner-container .sec4 .sec-con .top-con .skills ul li:nth-child(2) .skill-icon {
  background-position: 0 -100px;
}
main .inner-container .sec4 .sec-con .top-con .skills ul li:nth-child(3) .skill-icon {
  background-position: 0 -200px;
}
main .inner-container .sec4 .sec-con .top-con .skills ul li:nth-child(4) .skill-icon {
  background-position: 0 -300px;
}
main .inner-container .sec4 .sec-con .top-con .skills ul li:nth-child(5) .skill-icon {
  background-position: 0 -400px;
}
main .inner-container .sec4 .sec-con .top-con .skills ul li:nth-child(6) .skill-icon {
  background-position: 0 -500px;
}
main .inner-container .sec4 .sec-con .top-con .skills ul li:nth-child(7) .skill-icon {
  background-position: 0 -600px;
}
main .inner-container .sec4 .sec-con .top-con .skills ul li:nth-child(8) .skill-icon {
  background-position: 0 -700px;
}
main .inner-container .sec4 .sec-con .top-con .skills ul li p {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 16px;
  padding: 10px;
}
main .inner-container .sec4 .sec-con .bottom-con {
  width: 100%;
  height: auto;
  padding: 20px 0 60px;
  display: flex;
  gap: 60px;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
  main .inner-container .sec4 .sec-con .bottom-con {
    gap: 40px;
  }
}
main .inner-container .sec4 .sec-con .bottom-con .certificate-con {
  flex: 0 1 726px;
}
main .inner-container .sec4 .sec-con .bottom-con .certificate-con * {
  border: none;
}
main .inner-container .sec4 .sec-con .bottom-con .certificate-con table {
  width: 100%;
  padding: 20px 0;
}
main .inner-container .sec4 .sec-con .bottom-con .certificate-con table tr td {
  font-family: "Noto Sans KR", sans-serif;
  vertical-align: top;
  padding: 10px;
}
main .inner-container .sec4 .sec-con .bottom-con .contact {
  flex: 0 1 726px;
}
main .inner-container .sec4 .sec-con .bottom-con .contact form {
  padding: 20px 0;
}
main .inner-container .sec4 .sec-con .bottom-con .contact form * {
  width: 100%;
  display: block;
  border-radius: 25px;
  border: none;
  outline: none;
  margin-bottom: 20px;
}
main .inner-container .sec4 .sec-con .bottom-con .contact form input {
  font-size: 1rem;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #ffffff;
  padding: 10px 20px;
  line-height: 30px;
  color: #000;
}
main .inner-container .sec4 .sec-con .bottom-con .contact form textarea {
  font-size: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  padding: 10px 20px;
  resize: none;
}
main .inner-container .sec4 .sec-con .bottom-con .contact form span {
  height: 44px;
  line-height: 44px;
  position: relative;
}
main .inner-container .sec4 .sec-con .bottom-con .contact form span button {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 5px;
  line-height: 24px;
  padding: 10px 0;
  cursor: pointer;
}
main .inner-container .sec4 .sec-con .bottom-con .contact form span::after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  border-radius: 25px;
  background-color: #F6DF66;
  transition: all 0.3s;
}
main .inner-container .sec4 .sec-con .bottom-con .contact form span:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
main .inner-container .sec4 .sec-con .bottom-con .contact form span:hover button {
  background-color: transparent;
}
main .inner-container .popup-con {
  width: 100vw;
  height: 0;
  overflow: scroll;
  position: fixed;
  top: -100vh;
  left: 0;
  visibility: hidden;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.337254902);
  transition: all 0.3s;
}
main .inner-container .popup-con span {
  width: 50px;
  height: 50px;
  display: block;
  font-size: 28px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
  border-radius: 50%;
  background-color: #F6DF66;
  color: #f9f9f9;
}
main .inner-container .popup-con iframe {
  margin: 0 auto;
  display: block;
}

.popupOn {
  height: 100vh !important;
  top: 0 !important;
  visibility: visible !important;
}