@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&family=IBM+Plex+Sans+KR:wght@400;500;700&family=Noto+Sans+KR:wght@400;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap');
/*
font-family: 'Asap Condensed', sans-serif;
font-family: 'IBM Plex Sans KR', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  @media only screen and (max-width: 768px) {
    font-size: 87.5%;
  }
}
body{
  font-family: 'Noto Sans KR', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
ul, li {
  list-style: none;
}
table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}
$point-font: 'Roboto Condensed', sans-serif;
$point-color: #F6DF66;
$dash-color: #ccc;
@mixin img-clear {
  width: 100%;
  height: auto;
  display: block;
}
$vixtorm-bg: (
  vc1: #ff0000,
  vc2: #f4f4f4,
  vc3: #000000
);
$jellycat-bg: (
  jc1: #e6a29e,
  jc2:#ffffff,
  jc3: #3d3b3b
);

#wrap{
  background-color: #f9f9f9;
}
/*header*/
.headerOn{
  visibility: hidden;
  opacity: 0;
}
header{
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  font-family: $point-font;
  font-weight: 400;
  background-color: #ffffffbb;
  transition: all 0.3s;
  nav{
    flex: 0 1 1728px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 768px) {
      flex: 0 1 688px;
    }
    .gnb{
      ul{
        display: flex;
        gap: 40px;
        @media only screen and (max-width: 768px) {
          gap: 20px;
        }
      }
    }
    a{
      display: block;
      line-height: 26px;
    }
  }
}
/*container*/
@keyframes titleAni {
  from {
    transform: translateY(-60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.titleIn {
  animation: titleAni 1s ease-in-out;
}
main{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  .inner-container{
    flex: 0 1 1512px;
    @media only screen and (max-width: 768px) {
      flex: 0 1 648px;
    }
    .sec1{
      .sec-con{
        min-height: 100vh;
        padding: 140px 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @media only screen and (max-width: 768px) {
          padding: 100px 0;
        }
        .sec1-title{
          animation: titleAni 1s ease-in-out;
          h1{
            font-size: 80px;
            font-family: $point-font;
            font-weight: 700;
            line-height: 100px;
            word-spacing: 10px;
          }
          span{
            font-size: 34px;
            font-family: $point-font;
            font-weight: 400;
            line-height: 50px;
            font-style: italic;
            padding: 5px 10px;
            background-color: #F6DF66;
          }
        }
        .index-con{
          border-top: 1px solid #ccc;
          ul{
            display: flex;
            justify-content: flex-end;
            @media only screen and (max-width: 768px) {
              justify-content: flex-start;
            }
            li{
              flex: 0 1 378px;
              height: 300px;
              position: relative;
              @media only screen and (max-width: 768px) {
                flex: 0 1 216px;
                height: 286px;
              }
              a{
                display: block;
                width: 100%;
                font-family: $point-font;
                font-weight: 700;
                padding: 40px 30px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 9;
                p.num{
                  font-size: 80px;
                  line-height: 100px;
                  @media only screen and (max-width: 768px) {
                    font-size: 48px;
                    line-height: 60px;
                  }
                }
                .project-list{
                  width: 100%;
                  padding: 20px 0;
                  p.name{
                    width: 100%;
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 50px;
                    word-break: keep-all;
                    @media only screen and (max-width: 768px) {
                      font-size: 30px;
                      line-height: 38px;
                    }
                  }
                  p.summery{
                    font-size: 24px;
                    font-weight: 300;
                    line-height: 30px;
                    @media only screen and (max-width: 768px) {
                      font-size: 16px;
                      line-height: 30px;
                    }
                  }
                }
              }
              &::after{
                content: '';
                display: block;
                width: 100%;
                height: 0;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 8;
                transition: all 0.3s;
                background-color: #F6DF66;
              }
              &:hover::after{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 8;
                background-color: #F6DF66;
              }
            }
          }
        }
      }
    }
    .sec2{
      padding: 130px 0;
      .sec-con{
        h2{
          font-size: 60px;
          font-weight: 700;
          font-family: $point-font;
          padding: 40px 0;
          border-bottom: 1px solid $dash-color;
        }
        .profile-con{
          display: flex;
          @media only screen and (max-width: 768px) {
            flex-wrap: wrap;
          }
          .left{
            flex: 0 1 378px;
            padding: 20px 0;
            border-right: 1px solid $dash-color;
            @media only screen and (max-width: 768px) {
              border-right: none;
            }
            p.name{
              font-size: 16px;
              font-family: $point-font;
              font-style: italic;
              color: #313131;
              strong{
                font-size: 32px;
                font-weight: 700;
                font-style: normal;
                color: #000000;
              }
            }
            .information{
              padding: 20px 0;
              ul{
                @media only screen and (max-width:768px) {
                  display: flex;
                  gap: 60px;
                }
                li{
                  margin: 0 0 10px 0;
                  font-family: $point-font;
                  *{
                    border: none;
                  }
                  label{
                    display: block;
                    font-size: 18px;
                    font-weight: 700;
                    font-family: inherit;
                  }
                  .input-con{
                    display: flex;
                    input{
                      flex: 0 1 252px;
                      display: block;
                      font-size: 18px;
                      font-family: inherit;
                      background-color: transparent;
                    }
                    button{
                      font-size: 16px;
                      padding: 5px 10px;
                      border-radius: 15px;
                      background-color: $point-color;
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }
          .right{
            flex: 0 1 1134px;
            padding: 20px 60px;
            @media only screen and (max-width: 768px) {
              padding: 20px 0;
            }
            h3{
              font-size: 38px;
              font-weight: 700;
              font-family: $point-font;
            }
            .skills-con{
              .skills {
                padding: 40px 0 60px;
                @media only screen and (max-width: 768px){
                  padding: 20px 0 40px;
                }
                ul {
                  display: flex;
                  gap: 30px;
                  flex-wrap: wrap;
                  li {
                    flex: 0 0 100px;
                    .skill-icon {
                      width: 100%;
                      height: 100px;
                      background: url("../img/skill-icon.png") no-repeat;
                    }
                    @for $bgp from 1 to 9 {
                      &:nth-child(#{$bgp}) .skill-icon {
                        background-position: 0 ($bgp - 1) * -100px;
                      }
                    }
                    p {
                      font-family: $point-font;
                      line-height: 16px;
                      text-align: center;
                      padding: 10px;
                    }
                  }
                }
              }
            }
            .certificate-con{
              .cerificates{
                padding: 40px 0;
                *{
                  border: none;
                }
                table{
                  width: 80%;
                  padding: 20px 0;
                  @media only screen and (max-width: 768px) {
                    width: 100%;
                  }
                  tr{
                    td{
                      font-family: 'Noto Sans KR', sans-serif;
                      vertical-align: top;
                      padding: 10px;
                    }
                  }
                }
              }
            }
            
          }
        }
      }
    }
    .project-con{
      .sec-con{
        padding: 100px 0 0 0;
        @media only screen and (max-width:768px){
          padding: 60px 0 0 0;
        }
        .title{
          display: flex;
          border-bottom: 1px solid #ccc;
          @media only screen and (max-width:768px){
            display: block;
          }
          .left{
            flex: 0 1 504px;
            h2{
              font-size: 60px;
              font-weight: 700;
              font-family: $point-font;
            }
            p{
              font-size: 24px;
              font-weight: 300;
              font-family: $point-font;
              line-height: 40px;
            }
          }
          .right{
            padding: 20px 40px;
            border-left: 1px solid #ccc;
            @media only screen and (max-width:768px){
              padding: 20px 0;
              border-left: none;
            }
            p.project-info{
              span{
                background-color: #F6DF66;
              }
            }
            p.contribute{
              padding: 40px 0 20px;
              @media only screen and (max-width:768px){
                padding: 20px 0;
              }
            }
          }
        }
        .design-con{
          display: flex;
          gap: 60px;
          flex-wrap: wrap;
          padding: 40px 0;
          h3{
            font-size: 34px;
            font-family: $point-font;
            margin-bottom: 40px;
            @media only screen and (max-width:768px){
              margin-bottom: 20px;
            }
          }
          .smaller{
            flex: 0 1 464px;
            @media only screen and (max-width:768px){
              flex: 0 1 648px;
            }
          }
          .brand-intro{
            .BI-con{
              .emblem{
                img{
                  @include img-clear();
                }
              }
              .concept{
                p.concept-txt{
                  word-break: keep-all;
                }
                p.keyword{
                  font-size: 14px;
                  word-break: keep-all;
                  color: #3f3f3f;
                }
              }
            }
          }
          .information-architect{
            flex: 0 1 988px;
            .gnb{
              &>ul{
                display: flex;
                gap: 20px;
                justify-content: flex-start;
                text-align: center;
                &>li{
                  flex: 0 1 120px;
                  p{
                    font-weight: 700;
                    line-height: 30px;
                    background-color: #F6DF66;
                  }
                  ul.sub{
                    padding: 0 0 20px;
                    &::before{
                      content: '';
                      display: block;
                      width: 2px;
                      height: 15px;
                      background-color: #F6DF66;
                      margin: 0 auto;
                    }
                    li{
                      line-height: 30px;
                      border: 2px solid #F6DF66;
                      margin: 0 0 10px;
                    }
                  }
                }
              }
            }
            .goto{
              ul{
                display: flex;
                gap: 20px;
                justify-content: flex-start;
                li{
                  flex: 0 1 120px;
                  font-weight: 700;
                  line-height: 30px;
                  text-align: center;
                  background-color: #F6DF66;
                }
              }
            }
            table.gnb {
              margin-bottom: 20px;
            }
            table {
              border: none;
              * {
                border: none;
              }
              thead {
                border-bottom: 1px solid;
                tr {
                  th {
                    text-align: center;
                    line-height: 20px;
                    padding: 5px 20px;
                    font-size: 1rem;
                  }
                }
              }
              tbody {
                tr {
                  td {
                    font-size: 0.875rem;
                    text-align: center;
                    line-height: 20px;
                    padding: 5px 20px;
                  }
                }
              }
            }
          }
          .typography{
            @media only screen and (max-width:768px){
              flex: 0 1 294px;
            }
            .typo{
              display: flex;
              gap: 20px;
              @media only screen and (max-width:768px){
                gap: 10px;
              }
              p.thum{
                flex: 0 0 50px;
                text-align: center;
                line-height: 50px;
              }
              p.typo-info{
                font-size: 16px;
                line-height: 20px;

              }
            }
          }
          .color-paletter{
            @media only screen and (max-width:768px){
              flex: 0 1 294px;
            }
            ul{
              display: flex;
              li{
                flex: 1;
                line-height: 50px;
                text-align: center;
              }
            }
          }
          .icons{
            .icons-img{
              width: 100%;
              height: auto;
              img{
                @include img-clear();
              }
            }
          }
        }
        .preview-con{
          width: 100%;
          min-height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          @media only screen and (max-width:768px){
            padding: 160px 0;
            flex-wrap: wrap;
            gap: 20px;
          }
          .draft{
            flex: 0 1 882px;
            img{
              @include img-clear();
            }
          }
          .buttons{
            flex: 0 1 300px;
            span{
              display: block;
              width: 100%;
              height: 34px;
              position: relative;
              font-size: 18px;
              font-weight: 700;
              line-height: 34px;
              margin-bottom: 20px;
              cursor: pointer;
              &::after{
                content: '';
                display: block;
                width: 0;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 0;
                visibility: hidden;
                background-color: #F6DF66;
                transition: all 0.3s;
              }
              &:hover::after{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                visibility: visible;
                background-color: #F6DF66;
              }
              *{
                font-size: inherit;
                font-weight: inherit;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 99;
                padding: 0 5px;
              }
            }
          }
        }
      }
    }
    .sec3{
      .sec-con{
        .design-con{
          .brand-intro{
            .BI-con{
              display: flex;
              gap: 40px;
              @media only screen and (max-width:768px){
                gap: 20px;
              }
              .emblem{
                flex: 0 1 126px;
                @media only screen and (max-width:768px){
                  flex: 0 1 108px;
                }
              }
              .concept{
                flex: 0 1 298px;
                @media only screen and (max-width:768px){
                  flex: 0 1 500px;
                }
                p.concept-txt{
                  margin: 0 0 20px 0;
                  @media only screen and (max-width:768px){
                    margin: 0 0 10px 0;
                  }
                }
              }
            }
          }
          .color-paletter{
            ul{
              @each $elm, $bg in $vixtorm-bg {
                li.#{$elm}{
                  background-color: $bg;
                }
              }
              li:not(:nth-child(2)){
                color: #ffffff;
              }
            }
          }
          .typography{
            .typo{
              p.thum{
                font-size: 30px;
                font-weight: 700;
                font-family: 'IBM Plex Sans KR', sans-serif;
              }
            }
          }
          .icons{
            .icons-img{
              max-width: 435px;
            }
          }
        }
        .preview-con{
          .draft{
            position: relative;
            &:hover{
              span.login{
                visibility: visible;
              }
              span.gallery{
                visibility: visible;
              }
            }
            span{
              position: absolute;
            }
            span.landing{
              font-family: $point-font;
              top: 3%;
              left: 21%;
            }
            span.login{
              visibility: hidden;
              text-align: right;
              top: 14%;
              left: 5%;
            }
            span.gallery{
              visibility: hidden;
              top: 50%;
              left: 10%;
            }
            span.sub1{
              top: 15%;
              right: 17%;
            }
            span.sub5{
              bottom: 16%;
              right: 17%;
            }
          }
        }
      }
    }
    .sec4{
      .sec-con{
        .design-con{
          .brand-intro{
            .BI-con{
              .emblem{
                width: 100%;
                max-width: 160px;
              }
              .concept{
                p.concept-txt{
                  margin: 20px 0;
                  @media only screen and (max-width:768px){
                    margin: 10px 0;
                  }
                }
              }
            }
          }
          .color-paletter{
            ul{
              @each $elm, $bg in $jellycat-bg {
                li.#{$elm}{
                  background-color: $bg;
                }
              }
              li:nth-child(3){
                color: #ffffff;
              }
            }
          }
          .typography{
            .asap{
              margin: 0 0 20px 0;
              @media only screen and (mx-width: 768px){
                margin: 0 0 10px 0;
              }
              p.thum{
                font-size: 28px;
                font-weight: 700;
                font-family: 'Asap Condensed', sans-serif;
              }
            }
            .noto{
              p.thum{
                font-size: 16px;
                font-weight: 300;
                font-family: 'Noto Sans KR', sans-serif;
              }
            }
          }
          .icons{
            .icons-img{
              max-width: 474px;
            }
          }
        }
        .preview-con{
          .draft{
            position: relative;
            span{
              position: absolute;
            }
            span.landing{
              position: absolute;
              top: 6%;
              left: 20%;
            }
            span.login{
              position: absolute;
              bottom: 8%;
              left: 15%;
            }
            span.product{
              position: absolute;
              top: 42%;
              right: 10%;

            }
          }
        }
      }
    }
    .popup-con{
      width: 100vw;
      height: 0;
      overflow: scroll;
      position: fixed;
      top: -100vh;
      left: 0;
      visibility: hidden;
      z-index: 99999;
      background-color: #00000056;
      transition: all 0.3s;
      span{
        width: 50px;
        height: 50px;
        display: block;
        font-size: 28px;
        font-weight: 700;
        line-height: 50px;
        text-align: center;
        margin: 20px auto;
        cursor: pointer;
        border-radius: 50%;
        background-color: #F6DF66;
        color: #f9f9f9;
      }
      iframe{
        margin: 0 auto;
        display: block;
      }
    }
  }
}
.popupOn{
  height: 100vh !important;
  top: 0 !important;
  visibility: visible !important;
}
@keyframes clickAni{
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}
footer{
  width: 100%;
  height: auto;
  background-color: #252525;
  padding: 100px 0;
  .fcon{
    font-family: $point-font;
    text-align: center;
    color: #f9f9f9;
    p.thanks{
      font-size: 68px;
      font-weight: 700;
      margin: 0 0 60px 0;
    }
    address{
      text-decoration: none;
      input{
        font-size: 20px;
        text-decoration: underline;
        text-align: center;
        border: transparent;
        margin: 0 0 20px 0;
        background-color: transparent;
        cursor: pointer;
        color: #F6DF66;
        &:hover{
          font-weight: 700;
          letter-spacing: 3px;
          color: #f9f9f9;
        }
        &:focus{
          outline: transparent;
        }
      }
      button{
        display: block;
        width: 80px;
        height: 40px;
        position: relative;
        line-height: 40px;
        font-size: 14px;
        text-align: center;
        margin: 0 auto;
        border: none;
        background-color: #F6DF66;
        border-radius: 10px;
        color: black;
        animation: clickAni 0.8s ease-in-out infinite;
        &::before{
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          position: absolute;
          top: -5px;
          left: calc(50% - 5px);
          transform: rotate(45deg);
          background-color: #F6DF66;
        }
      }
    }
  }
}